/*************TAG SELECTORS*************/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 30pt;
    margin: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

/*************CLASS SELECTORS*************/

.top-container {
    background-color: #B1D0E0;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.heading {
    margin: 0;
    font-size: 30pt;
}

.pro {
    text-decoration: underline;
}

.profile-pic {
    height: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

/*************ID SELECTORS*************/


